.movieDetails {
  padding: 8px 16px;
}

.buttonBack {
  border-radius: 4px;
  border: 1px solid rgb(128, 128, 128, 0.3);
  margin: 12px;
  padding: 4px 8px;
}

.back {
  font-weight: 600;
  color: #373737;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 22px;  
}

.buttonBack:active,
.buttonBack:hover { 
  background-color: #28048d;  
}

.buttonBack:active .back,
.buttonBack:hover .back{
  font-weight: 600; 
  color: white; 
}

.movie {
  display: flex;
  gap: 20px;
  padding: 8px 0;
}

.movie__img {
  align-self: center;
  width: 185px;
  height: 278px;
  object-fit: cover;
}

.movie__title {
  margin: 16px 0;
}

.add {
  border-top: 2px solid rgba(128, 128, 128, 0.4);
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.add__item:first-child {
  margin-bottom: 4px;
}

.movie__img {
  width: 278px;
  height: 417px;
}

.link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #373737;
}

.link:hover,
.link:focus {
  color: #28048d;
  font-weight: 700;
}

.add__list {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
  justify-content: center;
}
.add__title {
  text-align: center;
}
