.home {
  padding: 12px 16px;
}

.home__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.home__item {
  width: 240px;
  height: 320px;
  overflow: hidden;
}

.home__itemWrapper {
  width: 220px;
  text-align: center;
  height: 320px;
  overflow: hidden;
}

.home__itemWrapper:hover {
  transform: scale(1.1);
}

.home__title {
  font-weight: 700;
  color: #28048d; 
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.home__descr {
  text-align: center;
  font-weight: 500;
  color: #28048d;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 28px;
  margin: 100px 20px;  
}

.link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #373737;
}

.home__img {
  margin: 0 auto;
}
