.movieDetails {
  padding: 8px 16px;
}

.buttonBack {
  border-radius: 4px;
  border: 1px solid rgb(128, 128, 128, 0.3);  
}

.back {
  text-decoration: none;
}

.movie {
  display: flex;
  gap: 20px;
  padding: 8px 0;  
}

.movie__img {
  align-self: center;
  width: 185px;
  height: 278px;
  object-fit: cover;
}

.movie__title {
  margin: 16px 0;
}

.add { 
  border-top: 2px solid rgba(128, 128, 128, 0.4);
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.add__item:first-child {
  margin-bottom: 4px;
}
