.movieDetails {
  padding: 8px 16px;
}

.movie {
  display: flex;
  gap: 20px;  
}

.movie__img {
  align-self: center;
  width: 185px;
  height: 278px;
  object-fit: cover;
}

.add { 
  border-top: 2px solid rgba(128, 128, 128, 0.4);
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.add__item:first-child {
  margin-bottom: 4px;
}
