.movies {
  padding: 12px 16px; 
  text-align: center;   
}

.form {
  margin-bottom: 16px;
}

.input,
.searchButton {
  outline: none;  
}

.input:focus,
.input:focus-visible {
  border-color: rgb(135, 135, 250);
}

.searchButton {
  cursor: pointer;
}

.defaultImage {
  margin: 0 auto;
}